@import '../../../assets/styles/_mixin.scss';
@import '../../../assets/styles/variable';
p,
h6,
h5,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.leftPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80vh;
    border: 1px solid $borderColor;
    &__title {
        border-bottom: 1px solid $borderColor;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex: 1;
        & h6 {
            width: 70%;
        }
    }
    &__listChat {
        width: 100%;
        height: 100%;
        flex: 9;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #0fa8f9;
            border-radius: 2px;
        }
    }
}

.singleChat.list-group-item.active {
    background-color: rgb(215, 215, 215);
    border-color: whitesmoke;
    box-shadow: none;
}

.singleChat {
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: #eee;
    }
    &__image {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        flex-shrink: 0;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    &__user {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        &__name {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            word-break: break-all;
            color: black;
            font-weight: inherit;
            text-transform: capitalize;
        }
        &__content {
            color: gray;
            display: flex;
            &__summary {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                word-break: break-all;
                margin-right: 5px;
            }
        }
    }
}

// right-panel
.rightPanel {
    border: 1px solid $borderColor;
    border-left: none;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    &.default {
        align-items: center;
        justify-content: center;
    }
    &__sendMessageBtn {
        border-radius: 10px;
        left: 0 !important;
        transform: none !important;
        margin-top: 10px;
    }
    &__iconSendMessageWrapper {
        padding: 10px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 2px solid black;
        margin-bottom: 10px;
        &__iconSendMessage {
            transform: rotate(-45deg);
            width: 100% !important;
            height: 100% !important;
            object-fit: cover !important;
        }
    }
    &__title {
        border-bottom: 1px solid $borderColor;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1.05;
        padding: 0 1.5rem;
        &__user {
            display: flex;
            align-items: center;
            cursor: pointer;
            &__image {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 10px;
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
        }
    }
    &__conversation {
        flex: 8;
        overflow-y: auto;
        scroll-behavior: auto;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #0fa8f9;
            border-radius: 2px;
        }
        &__content {
            width: 100%;
            // max-width: 40%;
            margin: 1rem 0;
            border-radius: 20px;
            display: flex;
            align-items: center;
            cursor: pointer;
            &.mine {
                flex-direction: row-reverse;
            }
            &__image {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                flex-shrink: 0;
                margin-right: 10px;
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            &__text {
                border-radius: 20px;
                border: 1px solid rgb(221, 219, 219);
                padding: 1rem;
                // width: 40%;
                max-width: 40%;
                word-wrap: break-word;
                &.mine {
                    background-color: rgb(221, 219, 219);
                }
            }
            &__options {
                display: none;
                position: relative;
                & svg {
                    margin: 0 1rem;
                }
                // &__emojiPicker {
                //     position: absolute;
                //     height: 180px;
                //     width: 300px;
                //     top: 30px;
                //     left: 20px;

                //     display: none;
                //     & .emoji-search {
                //         height: 10px;
                //     }
                //     & .emoji-picker-react {
                //         width: 100%;
                //         height: 100%;
                //     }
                //     &.active {
                //         display: block;
                //     }
                //     &.mine {
                //         top: 30px;
                //         left: -90%;
                //     }
                // }
            }
            &:hover > &__options {
                display: flex;
                &.mine {
                    flex-direction: row-reverse;
                }
            }
        }
    }
    &__inputContainer {
        flex: 1;
        // border-top: 1px solid black;
        display: grid;
        place-items: center;
        position: relative;
        padding: 0 1.5rem;
        & input {
            width: 100%;
            outline: none;
            padding: 10px 0;
            padding-left: 40px;
            padding-right: 80px;
            border-radius: 20px;
        }
        & #image-input {
            display: none;
        }
        &__icon {
            position: absolute;
            &.heart {
                right: 35px;
            }
            &.image {
                right: 65px;
            }
            &.emoji {
                left: 35px;
            }
            &.submit {
                right: 40px;
            }
        }
    }
}

.messagePopupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.messagePopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 450px;
    height: 600px;
    z-index: 2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &__titleContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 20px;
        border-bottom: 1px solid #eee;
        &__button {
            background-color: transparent;
            color: rgb(11, 131, 251);
            font-weight: bold;
            border: none;
            &.disabled {
                pointer-events: none;
                color: rgb(181, 225, 252);
            }
        }
    }
    &__destinations {
        width: 100%;
        height: auto;
        // flex: 1;
        overflow-y: auto;
        max-height: 40%;
        border-bottom: 1px solid #eee;
        &__input {
            width: 100%;
            & input {
                width: 100%;
                border: none;
                outline: none;
            }
        }
        &__tags {
            display: flex;
            width: 100%;
            &__singleTag {
                width: auto;
                background-color: rgb(190, 225, 247);
                color: rgb(11, 131, 251);
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 5px;
                margin-left: 10px;
                margin-bottom: 10px;
                border-radius: 5px;
                cursor: pointer;
                & button {
                    background-color: transparent;
                    color: rgb(11, 131, 251);
                    border: none;
                    margin-left: 20px;
                    text-transform: uppercase;
                }
            }
        }
    }
    &__destinationList {
        display: flex;
        flex-direction: column;
        padding: 10px 20px 0 20px;
        overflow-y: auto;
        flex: 1;
        margin-bottom: 10px;

        &__singleDestination {
            display: flex;
            align-items: center;
            margin-top: 15px;
            &__avatar {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-right: 20px;
                flex-shrink: 0;
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            &__info {
                flex: 1;
                & p:first-child {
                    color: black;
                    font-weight: 500;
                }
                & p:last-child {
                    color: grey;
                    font-size: 0.9rem;
                }
            }
            &__dot {
                width: 27px;
                height: 27px;
                border-radius: 50%;
                border: 2px solid black;
            }
        }
    }
}
