@import "../../../assets/styles/_mixin.scss";
@import "../../../assets/styles/variable";
p,
h6,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.leftPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80vh;
  border: 1px solid $borderColor;
  &__title {
    border-bottom: 1px solid $borderColor;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    & h6 {
      width: 70%;
    }
  }
  &__listChat {
    width: 100%;
    height: 100%;
    flex: 9;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #0fa8f9;
      border-radius: 2px;
    }
  }
}

.singleChat.list-group-item.active {
  background-color: whitesmoke;
}

.singleChat {
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  &__image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    flex-shrink: 0;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  &__user {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    &__name {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      word-break: break-all;
      color: black;
      font-weight: inherit;
      text-transform: capitalize;
    }
    &__content {
      color: gray;
      display: flex;
      &__summary {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        word-break: break-all;
        margin-right: 5px;
      }
    }
  }
}

// right-panel
.rightPanel {
  border: 1px solid $borderColor;
  border-left: none;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  &__title {
    border-bottom: 1px solid $borderColor;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1.05;
    padding: 0 1.5rem;
    &__user {
      display: flex;
      align-items: center;
      cursor: pointer;
      &__image {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }
  }
  &__conversation {
    flex: 8;
    overflow-y: auto;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #0fa8f9;
      border-radius: 2px;
    }
    &__content {
      width: 100%;
      // max-width: 40%;
      margin: 1rem 0;
      border-radius: 20px;
      display: flex;
      align-items: center;
      cursor: pointer;
      &.mine {
        flex-direction: row-reverse;
      }
      &__image {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        flex-shrink: 0;
        margin-right: 10px;
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      &__text {
        border-radius: 20px;
        border: 1px solid rgb(221, 219, 219);
        padding: 1rem;
        // width: 40%;
        max-width: 40%;
        &.mine {
          background-color: rgb(221, 219, 219);
        }
      }
      &__options {
        display: none;
        & svg {
          margin: 0 1rem;
        }
      }
      &:hover > &__options {
        display: flex;
        &.mine {
          flex-direction: row-reverse;
        }
      }
    }
  }
  &__inputContainer {
    flex: 1;
    // border-top: 1px solid black;
    display: grid;
    place-items: center;
    position: relative;
    padding: 0 1.5rem;
    & input {
      width: 100%;
      outline: none;
      padding: 10px 0;
      padding-left: 40px;
      padding-right: 80px;
      border-radius: 20px;
    }
    &__icon {
      position: absolute;
      &.heart {
        right: 35px;
      }
      &.image {
        right: 65px;
      }
      &.emoji {
        left: 35px;
      }
      &.submit {
        right: 40px;
      }
    }
  }
}
