@import "../../../assets/styles/_mixin.scss";
@import "../../../assets/styles/variable";

//post-item in home page
.postItem {
  margin: 20px 0;
  border: 1px solid $borderColor;
  border-radius: 3px;
  user-select: none;

  &__header {
    padding: 10px;

    .row {
      align-items: center;
    }

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    #more {
      cursor: pointer;
    }

    h6 {
      margin: 0;
    }
  }

  &__slide {
    padding: 0;

    img {
      width: 100%;
    }
  }

  &__content {
    &__likes {
      font-weight: 500;
    }

    &__allCmt {
      color: gray;
      margin: 10px 0 0 0;
      cursor: pointer;
    }

    &__time {
      font-size: 13px;
      text-transform: uppercase;
      margin: 5px 0;
      color: gray;
    }
  }

  &__react {
    margin: 20px 0;
  }
}
//end

//suggestion friends part
.recommend {
  margin-top: 50px;
  position: fixed;

  &__account {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 30px;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      margin-left: 20px;
      &:first-child {
        font-weight: 500;
      }

      &:last-child {
        color: gray;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;

    a {
      font-size: 12px;
      font-weight: bold;
      text-decoration: none;
      color: rgb(98, 95, 95);
      margin-left: 100px;
    }

    p {
      font-weight: bold;
      font-size: 13px;
      color: rgb(141, 138, 138);
    }
  }

  p {
    padding: 0;
    margin: 0;
  }
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }

  &__img {
    margin-right: 20px;
  }

  &__img img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $borderColor;
  }

  &__name {
    margin-right: 50px;
    a {
      text-decoration: none;
      font-weight: bold;
      font-size: 15px;
      color: rgb(98, 95, 95);
    }

    p {
      color: gray;
      font-size: 12px;
    }
  }

  &__folo {
    font-size: 12px;
    font-weight: bold;
    color: #0f9bf7;
  }
}
//end

//post content part (when click in comment)
.detail {
  @include ModalContainer;
  z-index: 2;

  &__layout {
    @include ModalLayout;
    background-color: gray;
  }

  &__content {
    @include ModalContent;
    background-color: white;
    display: flex;
    width: 80%;
    height: 90%;

    &__img {
      flex: 3;
      background: rgb(186, 185, 185);

      .slide {
        width: 100%;
        height: 100%;

        .carousel-inner {
          height: 100%;

          .carousel-item {
            height: 100%;

            img {
              object-fit: cover;
              height: 100%;
            }
          }
        }
      }
    }

    &__comment {
      flex: 2;
      position: relative;

      &__header {
        height: fit-content;
        border-bottom: 1px solid $borderColor;
      }

      &__body {
        background-color: palevioletred;
        overflow-y: scroll;
      }

      &__footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: fit-content;
        border-top: 1px solid $borderColor;

        .info {
          padding: 10px;
          &__icon {
            margin: 10px 0;
          }

          &__likes {
            font-weight: 500;
            font-size: 13px;
            margin: 0;
          }

          &__time {
            font-size: 13px;
            margin: 0;
          }
        }
      }
    }
  }

  &__icon {
    position: absolute;
    top: 10px;
    right: 10px;

    svg {
      font-size: 30px;
      cursor: pointer;
      color: white;
    }
  }
}
//end

//component add comment
.addComment {
  border: 1px solid $borderColor;
  margin: 10px 0 0 0;
  align-items: center;
  height: 50px;
  padding: 0 3%;

  input {
    border: none;
    outline: none;
    width: 100%;
  }

  svg {
    font-size: 24px;
  }

  p {
    color: #3baef8;
    font-weight: bold;
    margin: 0;
  }
}
//end

//component react icon
.reactIcon {
  svg {
    font-size: 28px;
    margin-right: 20px;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}
//end

//report modal
.report {
  @include ModalContainer;
  z-index: 2;

  &__layout {
    @include ModalLayout;
    background-color: gray;
    opacity: 0.9;
  }

  &__content {
    background-color: white;
    @include ModalContent;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        padding: 10px 100px;
        text-align: center;
        border-bottom: 1px solid $borderColor;
      }
    }
  }
}
//end

.carousel-control-next,
.carousel-control-prev {
  width: 8%;
}
