#loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginFrom_header {
  font-size: 24px;
  font-weight: bold;
}

button.btn.btn-primary {
  /* margin: auto; */
  position: relative;
  transform: translateX(-50%);
  left: 50%;
}
