@mixin ModalLayout {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  cursor: pointer;
}

@mixin ModalContent {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
}

@mixin ModalContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
